<div id="footer" class=" ppb_wrapper">
            <ul class="sidebar_widget three">
                <li id="text-2" class="widget widget_text">
                    <div class="textwidget">
                        <p><img src="{{ asset('assets/upload/logo2x_white.png') }}" width="158" height="20" alt=""></p>
                        <p>London is a megalopolis of people, ideas and frenetic energy. The capital and largest city of the United Kingdom.</p>
                        <div style="margin-top:20px;">
                            <div class="social_wrapper shortcode dark ">
                                <ul>
                                    <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li class="google"><a target="_blank" title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/tedxvienna"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="grandconference_flickr-3" class="widget GrandConference_Flickr">
                    <h2 class="widgettitle">Flickr</h2>
                    <ul class="flickr">
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48981125348_87428d33a6_q.jpg') }}" alt="GIG_4812" width="75" height="75"></a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48981852797_2fbecc53f5_q.jpg') }}" alt="IMG_5898" width="75" height="75"></a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48981014322_f2ccb790d4_q.jpg') }}" alt="IMG_6350" width="75" height="75"></a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48980272423_89475601fa_q.jpg') }}" alt="IMG_6416" width="75" height="75"></a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48980272903_5d33766aa9_q.jpg') }}" alt="IMG_6446" width="75" height="75"></a>
                        </li>
                        <li>
                            <a target="_blank" href="#"><img src="{{ asset('assets/upload/48980274398_f7d7100147_q.jpg') }}" alt="IMG_6626" width="75" height="75"></a>
                        </li>
                    </ul>
                    <br class="clear">
                </li>
                <li id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                    <h2 class="widgettitle">Newsletter</h2>

                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-92" method="post" data-id="92" data-name="">
                        <div class="mc4wp-form-fields">
                            <p>
                                Don't miss a thing!
                                <br>Sign up to receive daily news
                            </p>

                            <input type="email" name="EMAIL" placeholder="Your email address" required="">
                            <input type="submit" value="Sign up">
                        </div>
                        <label style="display: none !important;">Leave this field empty if you're human:
                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off">
                        </label>

                        <div class="mc4wp-response"></div>
                    </form>
                </li>
            </ul>
        </div>